/**
 * Hide the scrollbar in chat history.
 */

/* Chrome, Safari, and Opera */
#chat-history::-webkit-scrollbar {
  display: none;
}

#chat-history {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
